{% extends "network/layout.html" %}

{% block body %}
        {% if user.is_authenticated %}
        <div id="new-post-view">
            <form id='submit-post' method="post" action="submit_post">
                {% csrf_token %}
                <h3>New post</h3>
                <textarea name="post-content" id="post-content"></textarea>
                <input type="submit" class="btn btn-primary" id="new-post-btn" value="Submit Post">
            </form>
        </div>
    {% endif %}
{% include "network/posts.html" %}
{% endblock %}



