{% extends "network/layout.html" %}

{% block body %}
        {% if user.is_authenticated %}

                <h2>{{ profile.user }}</h2>
                {{ profile.id }}
                {% if user != profile.user %}
                        <button type="button" class="btn btn-primary" id="follow-profile-btn" onclick="follow_user({{profile.user.id}})">Follow</button>
                {% endif %}


                <h3 onclick="get_follow_stats('followers', {{profile.user.id}})">Followers: {{profile.followers}}</h3>
                <div id="follower-overlay" style="visibility: hidden;">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeFollower()">&times;</a>
                </div>

<!--if more than 1, create a javascript link to create a popup 'level' to scroll and view all followers/following-->

                <h3 onclick="get_follow_stats('following', {{profile.user.id}})">Following: {{profile.following}} </h3>
                <div id="following-overlay" style="visibility: hidden;">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeFollowing()">&times;</a>
                </div>
        {% endif %}

{% endblock %}