{% extends "network/layout.html" %}

{% block body %}
        {% if user.is_authenticated %}

                <h2>{{ profile.user }}</h2>
                {{ profile.id }}
                {% if user != profile.user %}
                        <button type="button" class="btn btn-primary" id="follow-profile-btn" onclick="follow_user({{profile.user.id}})">Follow</button>
                {% endif %}


                <h3>Followers</h3>
                <ul>
                        {% for follower in profile.followers %}
                                <li>{{ follower }}</li>
                        {% endfor %}
                </ul>

                <h3>Following</h3>
                <ul>
                        {% for following in profile.following %}
                                <li>{{ following }}</li>
                        {% endfor %}
                </ul>
        {% endif %}

{% endblock %}