html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    /*vertical-align: middle;*/
}

#all-posts {
    border: black solid 1px;
    padding: 10px;
    margin: 10px;
}

#submit-post {
    width: 100%;
    display: block;

}
#post-content{
    width: 100%;
}
#new-post-btn{
    margin-top: 10px;
}

#new-post-view {
    border: black solid 1px;
    padding: 10px;
    margin: 10px;
}
.post-item {
    border: black solid 1px;
    padding: 10px;
    /*margin: 10px;*/
}
.post-item-header{
    display: flex;
    justify-content: space-between;
}
/*.post-item-user{*/
/*    float: left;*/
/*}*/
/*.post-item-timestamp{*/
/*    float: right;*/
/*}*/
.post-item-content {
    padding-top: 5px;
    padding-bottom: 5px;
}
.post-item-meta {
    display: flex;
    font-size: 0.9em;
}
.post-item-meta-like-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 10px;
}


#follower-overlay {
/* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#follower-list{
  position: relative;
  top: 25%;
  width: 50%;
  left: 25%;
  right: 25%;
  text-align: center;
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
}